.grid {
  height: 125px;
  width: 25%;
  float:left;
  text-align: center;
  color:white;
}


.thumbnail-div {
  height: 90%;
  background-size: cover;
  background-position: center;
  transition: 0.5s;
}

.thumbnail-div:hover {
  height: 75%;
}
